In [0]:
from __future__ import absolute_import, division, print_function
import numpy as np
import keras
from keras.datasets import cifar10, mnist
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout, Flatten, Reshape
from keras.layers import Convolution2D, MaxPooling2D
from keras.utils import np_utils
import pickle
from matplotlib import pyplot as plt
import seaborn as sns
import tensorflow as tf
tf.set_random_seed(42)

#Import all the libraries

Using TensorFlow backend.

In [0]:
from google.colab import drive
drive.mount('/drive')
#Mounting the drive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /drive

In [0]:
import os
os.chdir('/drive/My Drive/Bank-Churn')
#Checking the current working directory

In [0]:
import pandas as pd
bank_churn_data=pd.read_csv('Churn.csv')
#reading the dataset

In [0]:
bank_churn_data.shape
# getting the shape of the dataset

(10000, 14)

In [0]:
bank_churn_data.isnull().values.any()
# Checking if the dataset has any null values.

False

In [0]:
bank_churn_data.describe()
# getting the central attributes of all the columns

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 11 columns]

In [0]:
bank_churn_data.dtypes
# Getting the data types for different columns

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [0]:
bank_churn_data.drop(['RowNumber','CustomerId','Surname','Geography','Gender'], axis=1, inplace=True)
# Dropping all the columns which are non-integer

In [0]:
bank_churn_data.dtypes
# Checking the data types for the different columns.

CreditScore          int64
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [0]:
X= bank_churn_data.iloc[:,0:7]
y= bank_churn_data.iloc[:,8]
# getting all the input features in one variable and entering the target variable in the other variable.

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)
# Normalizing the data using standard scalar

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)
# Using the train, test and split to divide the data into 70:30 ratio.

In [0]:
from keras import Sequential
from keras.layers import Dense

# Using keras to import the libraries

In [0]:
classifier = Sequential()
#First Hidden Layer
classifier.add(Dense(200, activation='relu', kernel_initializer='random_normal', input_dim=7))
#Second Hidden Layer
classifier.add(Dense(100, activation='relu', kernel_initializer='random_normal'))
#Third  Hidden Layer
classifier.add(Dense(50, activation='relu', kernel_initializer='random_normal'))
#Output Layer
classifier.add(Dense(1, activation='sigmoid', kernel_initializer='random_normal'))

In [0]:
#Compiling the neural network
classifier.compile(optimizer ='adam',loss='binary_crossentropy', metrics =['accuracy'])

In [0]:
#Fitting the data to the training dataset
classifier.fit(X_train,y_train, validation_data=(X_test, y_test), batch_size=32, epochs=20)

Train on 7000 samples, validate on 3000 samples
Epoch 1/20
7000/7000 [==============================] - 1s 169us/step - loss: 0.4525 - acc: 0.8140 - val_loss: 0.3719 - val_acc: 0.8577
Epoch 2/20
7000/7000 [==============================] - 0s 68us/step - loss: 0.3720 - acc: 0.8493 - val_loss: 0.3509 - val_acc: 0.8587
Epoch 3/20
7000/7000 [==============================] - 0s 69us/step - loss: 0.3604 - acc: 0.8514 - val_loss: 0.3487 - val_acc: 0.8613
Epoch 4/20
7000/7000 [==============================] - 1s 74us/step - loss: 0.3590 - acc: 0.8509 - val_loss: 0.3498 - val_acc: 0.8580
Epoch 5/20
7000/7000 [==============================] - 0s 66us/step - loss: 0.3554 - acc: 0.8526 - val_loss: 0.3454 - val_acc: 0.8597
Epoch 6/20
7000/7000 [==============================] - 0s 66us/step - loss: 0.3522 - acc: 0.8561 - val_loss: 0.3433 - val_acc: 0.8637
Epoch 7/20
7000/7000 [==============================] - 0s 64us/step - loss: 0.3530 - acc: 0.8537 - val_loss: 0.3506 - val_acc: 0.8587
Epoch 8/20
7000/7000 [==============================] - 0s 66us/step - loss: 0.3509 - acc: 0.8531 - val_loss: 0.3436 - val_acc: 0.8617
Epoch 9/20
7000/7000 [==============================] - 0s 67us/step - loss: 0.3482 - acc: 0.8554 - val_loss: 0.3451 - val_acc: 0.8597
Epoch 10/20
7000/7000 [==============================] - 0s 62us/step - loss: 0.3472 - acc: 0.8559 - val_loss: 0.3471 - val_acc: 0.8610
Epoch 11/20
7000/7000 [==============================] - 0s 61us/step - loss: 0.3470 - acc: 0.8566 - val_loss: 0.3466 - val_acc: 0.8617
Epoch 12/20
7000/7000 [==============================] - 0s 62us/step - loss: 0.3471 - acc: 0.8556 - val_loss: 0.3449 - val_acc: 0.8583
Epoch 13/20
7000/7000 [==============================] - 0s 67us/step - loss: 0.3453 - acc: 0.8580 - val_loss: 0.3520 - val_acc: 0.8600
Epoch 14/20
7000/7000 [==============================] - 0s 67us/step - loss: 0.3466 - acc: 0.8596 - val_loss: 0.3472 - val_acc: 0.8623
Epoch 15/20
7000/7000 [==============================] - 0s 65us/step - loss: 0.3442 - acc: 0.8553 - val_loss: 0.3481 - val_acc: 0.8603
Epoch 16/20
7000/7000 [==============================] - 0s 63us/step - loss: 0.3429 - acc: 0.8577 - val_loss: 0.3505 - val_acc: 0.8577
Epoch 17/20
7000/7000 [==============================] - 0s 65us/step - loss: 0.3436 - acc: 0.8577 - val_loss: 0.3471 - val_acc: 0.8630
Epoch 18/20
7000/7000 [==============================] - 0s 66us/step - loss: 0.3433 - acc: 0.8577 - val_loss: 0.3473 - val_acc: 0.8590
Epoch 19/20
7000/7000 [==============================] - 0s 66us/step - loss: 0.3448 - acc: 0.8597 - val_loss: 0.3543 - val_acc: 0.8553
Epoch 20/20
7000/7000 [==============================] - 0s 65us/step - loss: 0.3399 - acc: 0.8593 - val_loss: 0.3444 - val_acc: 0.8600